<!doctype html>
<html lang="en" data-theme="startin-theme-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Ben Startin</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image | default: 'https://placehold.co/600x400' }}">
    <meta property="og:url" content="{{ post.url }}">
    <link rel="canonical" href="{{ post.url }}">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">
  </head>
  <body>
   <!-- Header -->
<nav><div id="header"></div>
</nav>
<!-- Main Content -->    
<main class="ml-3 mr-3">
  <div class="max-w-3xl mx-auto pt-20 mb-15">
    <div class="breadcrumbs max-w-3xl text-sm">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All posts</a></li>
        <li>{{ title }}</li>
      </ul>
    </div>

      <article class="prose prose-lg pt-10">
        <h1 class="post">{{ title }}</h1>
        <span class="text-sm text-gray-500"> // {{ date | date: "%B %d, %Y" }}</span>
        <div id="sharing"></div>
        <hr class="w-full text-gray-100">
      {{ content }}
      <hr class="w-full text-gray-100">
      </article> 
    
      <div class="mx-auto max-w-2xl mt-10 mb-5 p-5">
        <h3>Latest posts</h3>
        <ul class="list bg-base-100 rounded-box shadow-sm">
            
          {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
      {% if newestPost %}
      <a href="{{ newestPost.url }}" class="hover:underline"><li class="list-row">
            <div>
              <div class="text-lg ">{{ newestPost.data.title }}<span class="text-xs text-gray-500"> // {{ newestPost.date | date: "%B %d, %Y" }}</span>
            </div>
              <div class="text-sm opacity-80">{{ newestPost.data.description | truncate: 120}}<span class="text-xs text-gray-500"> Read post</span></div>
            </div>
         </li> </a>
          {% endif %}
          
          {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
        {% assign secondNewestPost = sortedPosts[1] %}
        {% if secondNewestPost %}
      <a href="{{ secondNewestPost.url }}" class="hover:underline"><li class="list-row">
            <div>
              <div class="text-lg">{{ secondNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ secondNewestPost.date | date: "%B %d, %Y" }}</span>
                <div class="text-sm opacity-60">{{ secondNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
            </div>
         </li> </a>
          {% endif %}
          
          {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
        {% assign thirdNewestPost = sortedPosts[2] %}
        {% if thirdNewestPost %}
      <a href="{{ thirdNewestPost.url }}" class="hover:underline"><li class="list-row">
            <div>
              <div class="text-lg ">{{ thirdNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ thirdNewestPost.date | date: "%B %d, %Y" }}</span>
                <div class="text-sm opacity-60">{{ thirdNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
            </div>
         </li> </a>
          {% endif %}
          
        </ul>
      </div>  
  </div>
</main>
    <!-- Footer -->
  <div id="footer"></div>
  <script src="/scripts/script.js"></script>
  </body>
</html>