<!DOCTYPE html>
<html lang="en" html data-theme="startin-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Startin - Product Manager</title>
  <meta name="description" content="A brief description of the webpage">
  <link rel="stylesheet" href="/styles/index.css"> <!-- Link to your CSS file -->
</head>
<body>
  <!-- Header -->
    <div id="header"></div>
  <main>
    <!-- Hero -->
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-xl">
          <h1 class="hero">Hey there 👋</h1>
          <p class="hero">
            I'm Ben, a Birmingham based digital product manager, who's worked across automotive, retail, sports & telecoms industries.
          </p>
          <div class="py-8">
            <a href="/posts/"><button class="btn btn-primary py-4 ">Read my posts</button></a>
          </div>
        </div>
      </div>
    </div>

<container class="">

<!-- Links to Calculators -->   
<div class="mx-auto max-w-2xl mt-10 mb-5 p-5">
  <div class="border-base-300 border rounded-2xl shadow-sm p-5">
      <h4>Looking for help with backlog prioritisation?</h4> 
      <p class="prose">Try my <a href="#">RICE</a> & <a href="#">WSJF</a> calculators </p>
  </div>
</div>

<!-- latest posts
<div class="max-w-3xl mx-auto mb-10 p-3">
  <h2>Latest posts</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3">
    {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
    {% if newestPost %}
    <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
        <figure>
          <img
            src="{{ newestPost.data.image | default: 'https://placehold.co/600x400' }}"
            alt="{{ newestPost.data.title }}" />
        </figure>
        <a href="{{ newestPost.url }}"><div class="card-body">
          <h4 class="card-title text-lg">{{ newestPost.data.title }}</h4>
          <span class="text-gray-500 text-xs">{{ newestPost.date | date: "%B %d, %Y" }}</span>
          <p>{{ newestPost.data.description }}</p>
          <div class="justify-start card-actions">
            <button class="btn btn-outline">Read post</button>
          </div>
        </div></a>
      </div>
    {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
      {% assign secondNewestPost = sortedPosts[1] %}
      {% if secondNewestPost %}
        <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
          <figure>
            <img
              src="{{ secondNewestPost.data.image | default: 'https://placehold.co/600x400' }}"
              alt="{{ secondNewestPost.data.title }}" class="mask-linear-50"/>
          </figure>
          <div class="card-body">
            <h4 class="card-title">{{ secondNewestPost.data.title }}</h4>
            <span class="text-gray-500 text-xs">{{ secondNewestPost.date | date: "%B %d, %Y" }}</span>
            <p>{{ secondNewestPost.data.description }}</p>
            <div class="justify-start card-actions">
              <a href="{{ secondNewestPost.url }}"><button class="btn btn-outline">Read post</button></a>
            </div>
          </div>
        </div>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
      {% assign thirdNewestPost = sortedPosts[2] %}
      {% if thirdNewestPost %}
        <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
          <figure>
            <img
              src="{{ thirdNewestPost.data.image | default: 'https://placehold.co/600x400' }}"
              alt="{{ thirdNewestPost.data.title }}" />
          </figure>
          <div class="card-body">
            <h4 class="card-title">{{ thirdNewestPost.data.title }}</h4>
            <span class="text-gray-500 text-xs">{{ thirdNewestPost.date | date: "%B %d, %Y" }}</span>
            <p>{{ thirdNewestPost.data.description }}</p>
            <div class="justify-start card-actions">
              <a href="{{ thirdNewestPost.url }}"><button class="btn btn-outline">Read post</button></a>
            </div>
          </div>
        </div>
      {% endif %}
        </div>
        <div class="py-8 text-center">
          <a href="/posts/"><button class="btn py-4 ">View all posts</button></a>
        </div>
    </div>
  -->
    <!-- Latest posts section -->
  <div class="mx-auto max-w-3xl mt-10 mb-5 p-5">
    <h2>Latest posts</h2>
    <ul class="list bg-base-100 rounded-box shadow-sm">
        
      {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
  {% if newestPost %}
  <a href="{{ newestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ newestPost.data.title }}<span class="text-xs text-gray-500"> // {{ newestPost.date | date: "%B %d, %Y" }}</span>
        </div>
          <div class="text-sm opacity-80">{{ newestPost.data.description | truncate: 120}}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign secondNewestPost = sortedPosts[1] %}
    {% if secondNewestPost %}
  <a href="{{ secondNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg">{{ secondNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ secondNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ secondNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign thirdNewestPost = sortedPosts[2] %}
    {% if thirdNewestPost %}
  <a href="{{ thirdNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ thirdNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ thirdNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ thirdNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign forthNewestPost = sortedPosts[3] %}
    {% if forthNewestPost %}
  <a href="{{ forthNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ forthNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ forthNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ forthNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign fifthNewestPost = sortedPosts[4] %}
    {% if fifthNewestPost %}
  <a href="{{ fifthNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ fifthNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ fifthNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ fifthNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
    </ul>
  </div>
    
<!-- Latest posts section
  <div class="mx-auto max-w-3xl mt-10 mb-5 p-5">
    <h2>Latest posts</h2>
    <ul class="list bg-base-100 rounded-box shadow-sm">
      {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
      {% if newestPost %}
      <a href="{{ newestPost.url }}" class="hover:underline"><li class="list-row">
            <div>
              <div class="text-lg ">{{ newestPost.data.title }}<span class="text-xs text-gray-500"> // {{ newestPost.date | date: "%B %d, %Y" }}</span>
            </div>
              <div class="text-sm opacity-80">{{ newestPost.data.description | truncate: 120}}<span class="text-xs text-gray-500"> Read post</span></div>
            </div>
         </li> </a>
      {% endif %}
      …
    </ul>
  </div>
</div>
 -->

<!-- Carousel section -->
<div class="bg-base-200 p-5">
  <h2 class=" base-100">Work timeline... </h2>
    <div class="carousel w-auto space-x-5 pl-10 pr-10 pt-5 pb-5 hide-on-mobile">
      <div class="carousel-item">
        <!-- Card item start -->
        <div class="card w-90 bg-base-100 shadow-md">
          <div class="card-body">
            <div>
            <span class="badge badge-sm badge-warning float-left">2013</span>
            <span>
              <img
              src=" https://www.selcobw.com/dist/91bbc50ea40baab6077641ccb9e89b8f.svg"
              class="rounded-box max-w-30 float-right" />
            
            </span>
          </div>
            <div class="flex justify-between">
              <h2 class="text-3xl font-bold">Ecommerce Platform</h2>
              
            </div>
            <ul class="mt-6 flex flex-col gap-2 text-xs">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Digitised product catalogue</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Customizable style templates</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Batch processing capabilities</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>AI-driven image enhancements</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Seamless cloud integration</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Real-time collaboration tools</span>
              </li>
            </ul>
            <container>
              <div class="card-actions justify-end">
                <div class="badge badge-outline text-xs">Magento</div>
                <div class="badge badge-outline text-xs">Web App</div>
                <div class="badge badge-outline text-xs">Ecommerce</div>
                <div class="badge badge-outline text-xs">Legacy Integration</div>

              </div>
            </container>
            </div>
         </div>
         <!-- Card item end -->

      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
          class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
          class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
          class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
          class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
          class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img
          src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
          class="rounded-box" />
      </div>
    </div>
    <div class="show-on-mobile">
    <div class="carousel rounded-box w-full">
      <div class="carousel-item w-full">
        <!-- Card item start -->
        <div class="card w-90 bg-base-100 shadow-md">
          <div class="card-body">
            <div>
            <span class="badge badge-sm badge-warning float-left">2013</span>
            <span>
              <img
              src=" https://www.selcobw.com/dist/91bbc50ea40baab6077641ccb9e89b8f.svg"
              class="rounded-box max-w-30 float-right" />
            
            </span>
          </div>
            <div class="flex justify-between">
              <h2 class="text-3xl font-bold">Ecommerce Platform</h2>
              
            </div>
            <ul class="mt-6 flex flex-col gap-2 text-xs">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Digitised product catalogue</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Customizable style templates</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Batch processing capabilities</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>AI-driven image enhancements</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Seamless cloud integration</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Real-time collaboration tools</span>
              </li>
            </ul>
            <container>
              <div class="card-actions justify-end">
                <div class="badge badge-outline text-xs">Magento</div>
                <div class="badge badge-outline text-xs">Web App</div>
                <div class="badge badge-outline text-xs">Ecommerce</div>
                <div class="badge badge-outline text-xs">Legacy Integration</div>

              </div>
            </container>
            </div>
         </div>
         <!-- Card item end -->
      </div>
      <div class="carousel-item w-auto">
        <!-- Card item start -->
        <div class="card w-90 bg-base-100 shadow-md">
          <div class="card-body">
            <div>
            <span class="badge badge-sm badge-warning float-left">2013</span>
            <span>
              <img
              src=" https://www.selcobw.com/dist/91bbc50ea40baab6077641ccb9e89b8f.svg"
              class="rounded-box max-w-30 float-right" />
            
            </span>
          </div>
            <div class="flex justify-between">
              <h2 class="text-3xl font-bold">Ecommerce Platform</h2>
              
            </div>
            <ul class="mt-6 flex flex-col gap-2 text-xs">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Digitised product catalogue</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Customizable style templates</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>Batch processing capabilities</span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span>AI-driven image enhancements</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Seamless cloud integration</span>
              </li>
              <li class="opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                <span class="line-through">Real-time collaboration tools</span>
              </li>
            </ul>
            <container>
              <div class="card-actions justify-end">
                <div class="badge badge-outline text-xs">Magento</div>
                <div class="badge badge-outline text-xs">Web App</div>
                <div class="badge badge-outline text-xs">Ecommerce</div>
                <div class="badge badge-outline text-xs">Legacy Integration</div>

              </div>
            </container>
            </div>
         </div>
         <!-- Card item end -->
      </div>
      <div class="carousel-item w-full">
        <img
          src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
          class="w-full"
          alt="Tailwind CSS Carousel component" />
      </div>
      <div class="carousel-item w-full">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
          class="w-full"
          alt="Tailwind CSS Carousel component" />
      </div>
      <div class="carousel-item w-full">
        <img
          src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
          class="w-full"
          alt="Tailwind CSS Carousel component" />
      </div>
      <div class="carousel-item w-full">
        <img
          src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
          class="w-full"
          alt="Tailwind CSS Carousel component" />
      </div>
      <div class="carousel-item w-full">
        <img
          src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
          class="w-full"
          alt="Tailwind CSS Carousel component" />
      </div>
    </div>
  </div>
</div>



<br>
        <!-- Content section -->
      </container>
      </main>

  <!-- Footer -->
  <div id="footer"></div>

  <script src="/scripts/script.js"></script>

</body>
</html>