<!DOCTYPE html>
<html lang="en" html data-theme="startin-theme-light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Startin - Product Manager</title>
  <meta name="description" content="A brief description of the webpage">
  <link rel="stylesheet" href="/styles/index.css"> <!-- Link to your CSS file -->
</head>
<body>
  <!-- Header -->
    <div id="header"></div>
  <main>
   <!-- Hero -->
<div class="bg-white min-h-screen flex flex-col md:flex-row items-center justify-center px-6 md:px-16 py-24 gap-12">
  <!-- Text Content -->
  <div class="text-left max-w-2xl">
    <h1 class="text-8xl md:text-8xl font-semibold tracking-tight text-gray-900 mb-6">
    Birmingham-based digital product manager with experience across automotive, retail, sports, and telecoms industries.     
    <div class="mt-10 flex flex-col sm:flex-row gap-4">
       <div class="flex-1 bg-gradient-to-r from-gray-50 to-white-100/50 rounded-3xl p-5 sm:p-5 border border-gray-200 shadow-sm">
 <h4 class="text-2xl font-semibold mb-4">Latest posts</h4>
        <p class="text-md font-normal"> Read about my learnings from my years working in product .
        </p>
      <a href="/posts/">
        <button class="btn btn-primary py-5 text-md w-full">
          Read my posts
        </button>
      </a>
       </div>
 <div class="flex-1 bg-gradient-to-r from-gray-50 to-white-100/50 rounded-3xl p-5 sm:p-5 border border-gray-200 shadow-sm">
      <h4 class="text-2xl font-semibold mb-4">About me</h4>
<p class="text-md font-normal">Over 12 years digital experience focusing on user needs and business outcomes.</p>
      <a href="/about/">
        <button class="btn btn-outline py-4 w-full">
          About me
        </button>
      </a>
 </div>
    </div>
  </div>

  <!-- Optional Imagery -->
  <div class="w-full p-0 m-0">
  <img src="/images/Designer-Desk-2--Streamline-Free-Illustrations.svg" alt="Product thinking illustration" class="w-full m-0 p-0 block">
</div>
</div>

<container class="">
<!-- Links to Calculators -->   
 <div class="mx-auto max-w-3xl mt-10 mb-5 p-5">
 <div class="bg-gradient-to-r from-gray-50 to-white-100/50 rounded-3xl p-8 sm:p-12 border border-gray-200 shadow-lg">
              <div class="text-center">
                <div class="inline-flex items-center gap-2 px-4 py-2 border border-gray-200 rounded-full text-gray-700 font-medium text-sm mb-6">
                  🆓 Free Tools 
                </div>
                <h3 class="text-2xl font-semibold mb-4">Need help with backlog prioritisation?</h3>
                <p class="text-muted-foreground text-lg mb-8 max-w-2xl mx-auto">
                  Try my interactive RICE & WSJF calculators to make data-driven decisions about your product roadmap.
                </p>
                <div class="flex flex-col sm:flex-row gap-4 justify-center">
                        <a href="#">
                  <Button class="btn btn-outline btn-primary py-6">
                    RICE Calculator
                  </Button>
                  </a>
                   <a href="#">
                  <Button class="btn btn-outline py-4">
                    WSJF Calculator
                  </Button>
                  </a>
                </div>
              </div>
            </div>
          </div>
  
</div>

<!-- latest posts
<div class="max-w-3xl mx-auto mb-10 p-3">
  <h2>Latest posts</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3">
    {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
    {% if newestPost %}
    <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
        <figure>
          <img
            src="{{ newestPost.data.image | default: 'https://placehold.co/600x400' }}"
            alt="{{ newestPost.data.title }}" />
        </figure>
        <a href="{{ newestPost.url }}"><div class="card-body">
          <h4 class="card-title text-lg">{{ newestPost.data.title }}</h4>
          <span class="text-gray-500 text-xs">{{ newestPost.date | date: "%B %d, %Y" }}</span>
          <p>{{ newestPost.data.description }}</p>
          <div class="justify-start card-actions">
            <button class="btn btn-outline">Read post</button>
          </div>
        </div></a>
      </div>
    {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
      {% assign secondNewestPost = sortedPosts[1] %}
      {% if secondNewestPost %}
        <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
          <figure>
            <img
              src="{{ secondNewestPost.data.image | default: 'https://placehold.co/600x400' }}"
              alt="{{ secondNewestPost.data.title }}" class="mask-linear-50"/>
          </figure>
          <div class="card-body">
            <h4 class="card-title">{{ secondNewestPost.data.title }}</h4>
            <span class="text-gray-500 text-xs">{{ secondNewestPost.date | date: "%B %d, %Y" }}</span>
            <p>{{ secondNewestPost.data.description }}</p>
            <div class="justify-start card-actions">
              <a href="{{ secondNewestPost.url }}"><button class="btn btn-outline">Read post</button></a>
            </div>
          </div>
        </div>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
      {% assign thirdNewestPost = sortedPosts[2] %}
      {% if thirdNewestPost %}
        <div class="card w-auto bg-base-100 card-lr shadow-sm mr-2 mb-2">
          <figure>
            <img
              src="{{ thirdNewestPost.data.image | default: 'https://placehold.co/600x400' }}"
              alt="{{ thirdNewestPost.data.title }}" />
          </figure>
          <div class="card-body">
            <h4 class="card-title">{{ thirdNewestPost.data.title }}</h4>
            <span class="text-gray-500 text-xs">{{ thirdNewestPost.date | date: "%B %d, %Y" }}</span>
            <p>{{ thirdNewestPost.data.description }}</p>
            <div class="justify-start card-actions">
              <a href="{{ thirdNewestPost.url }}"><button class="btn btn-outline">Read post</button></a>
            </div>
          </div>
        </div>
      {% endif %}
        </div>
        <div class="py-8 text-center">
          <a href="/posts/"><button class="btn py-4 ">View all posts</button></a>
        </div>
    </div>
  -->
    <!-- Latest posts section -->
  <div class="mx-auto max-w-3xl mt-10 mb-5 p-5">
    <h2>Latest posts</h2>
    <ul class="list bg-base-100 rounded-box shadow-sm">
        
      {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
  {% if newestPost %}
  <a href="{{ newestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ newestPost.data.title }}<span class="text-xs text-gray-500"> // {{ newestPost.date | date: "%B %d, %Y" }}</span>
        </div>
          <div class="text-sm opacity-80">{{ newestPost.data.description | truncate: 120}}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign secondNewestPost = sortedPosts[1] %}
    {% if secondNewestPost %}
  <a href="{{ secondNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg">{{ secondNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ secondNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ secondNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign thirdNewestPost = sortedPosts[2] %}
    {% if thirdNewestPost %}
  <a href="{{ thirdNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ thirdNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ thirdNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ thirdNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign forthNewestPost = sortedPosts[3] %}
    {% if forthNewestPost %}
  <a href="{{ forthNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ forthNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ forthNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ forthNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}

      {% assign sortedPosts = collections.posts | sort: "date" | reverse %}
    {% assign fifthNewestPost = sortedPosts[4] %}
    {% if fifthNewestPost %}
  <a href="{{ fifthNewestPost.url }}" class="hover:underline"><li class="list-row">
        <div>
          <div class="text-lg ">{{ fifthNewestPost.data.title }}<span class="text-xs text-gray-500"> // {{ fifthNewestPost.date | date: "%B %d, %Y" }}</span>
            <div class="text-sm opacity-60">{{ fifthNewestPost.data.description | truncate: 120 }}<span class="text-xs text-gray-500"> Read post</span></div>
        </div>
     </li> </a>
      {% endif %}
      
    </ul>
  </div>
  <br>
  <br>
    
<!-- Latest posts section
  <div class="mx-auto max-w-3xl mt-10 mb-5 p-5">
    <h2>Latest posts</h2>
    <ul class="list bg-base-100 rounded-box shadow-sm">
      {% assign newestPost = collections.posts | sort: "date" | reverse | first %}
      {% if newestPost %}
      <a href="{{ newestPost.url }}" class="hover:underline"><li class="list-row">
            <div>
              <div class="text-lg ">{{ newestPost.data.title }}<span class="text-xs text-gray-500"> // {{ newestPost.date | date: "%B %d, %Y" }}</span>
            </div>
              <div class="text-sm opacity-80">{{ newestPost.data.description | truncate: 120}}<span class="text-xs text-gray-500"> Read post</span></div>
            </div>
         </li> </a>
      {% endif %}
      …
    </ul>
  </div>
</div>
 -->


<br>
<br>
<br>
        <!-- Content section -->
      </container>
      </main>

  <!-- Footer -->
  <div id="footer"></div>

  <script src="/scripts/script.js"></script>

</body>
</html>